body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.header h1 {
    margin: 0;
}

.back-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.posts-container {
    padding: 20px;
}

.post {
   
    border: 2px solid #000;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.post h2 {
    margin-top: 0;
}

.author {
    font-style: italic;
    color: #555;
}

.footer {
    padding: 10px 20px;

    border-top: 2px solid #000;
    text-align: center;
}

.footer p {
    margin: 5px 0;
}


.bcontainer {
    display: flex;
    width: 10%;
    flex-direction: row-reverse;
    justify-content: space-between;
}